sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: ai1ysWlVS6eG8hkb/SN8z+Pvr8FbWih6DpARMpxd7lgDKrgl1DPlT4LZz8L/lhRaPRGlxP9jLLKSgp+mFyazcmnfy9sSEBu0BEU+U4B1dOHYeRRUkJ+fO4ovwTraIMKGQL//3PDlnvNt0A9NYBGu1DR0NxVZEFRFD1EDQB8GLD6XR8MdOe7Wmn354NHjA9mSmW+FT91iOn2sKqUXL/CJLe4M/UZZ9/+2DottBeSDg+7U6Gdc4TMVdMMkfSdNyLeVvd5zE54V7K3qDS8JER+lfQdh/jjXdEQyEb2Dk2qqkBukaaa0EMhJ8zoKL3jGtAGK5UHF8IQcR6qzCvfoPmkVoXBFH+KU2HiOyHWVwg2mbPFP/10Fnk4/UsRZx4HpulLnAeEHzyOm1uQC4+BObnA2gi6zZvvrRJg/Yr7bKi9x30LuAJjPFIWqldwZLKOgOsivKH+ZDJYgvjqJKCpP5eYTDUqrKlQjTyR9/6kv4U7AbzUy0qf2GrsomlKxcPYRy6CpgDjY9x1xcUBtmBv47j5V3BjI1Y2zdexJq60FbG8nhqnE+YG1jGMhkLT/f71oVPjHcGbTbWc9salbYH3M40DAS9l7kUAn02FSqj2gAlZBhX1FnivqiTq2ksFdijlTb6Tk5GU6Rp/CXungml8erMhBoagkVsMt8IuNF/iNn7phU9g=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Le-Jardin-d-Epicure_5147
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy